body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
}

.dark-mode {
    background-color: black;
    color: white;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Ajouts pour centrer le contenu et agrandir la police */
#quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajoute une hauteur pour centrer verticalement */
}

#quiz p, #quiz button {
    font-size: 18px; /* ou une taille appropriée */
}
.toggle-container {
    position: fixed;
    top: 10px;
    right: 10px;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    background-color: #ccc;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 60px;
    height: 30px;
    position: relative;
    transition: background-color 0.3s;
}

.toggle-ball {
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: transform 0.3s;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: #333;
}

.toggle-checkbox:checked + .toggle-label .toggle-ball {
    transform: translateX(30px);
}
